<!-- <button routerLink="home" routerLinkActive="active">Home</button>
<button routerLink="login" routerLinkActive="active">Login</button>
<button routerLink="about" routerLinkActive="active">About</button>
<button routerLink="main" routerLinkActive="active">Main</button>
<button mat-button (click)="onLogout()">Logout</button> -->

<mat-toolbar color="primary">
    <span>
        App Compra
    </span>
    <span class="fill-remaining-space"></span>
    <button routerLink="home" routerLinkActive="active">Home</button>
    <button routerLink="login" routerLinkActive="active">Login</button>
    <button routerLink="about" routerLinkActive="active">About</button>
    <button routerLink="main" routerLinkActive="active">Main</button>
    <button mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>